
#chart-table tbody {
    display: block;
} 

#chart-table>thead>tr>th, #chart-table>tbody>tr>td {
    float: left;
}

#chart-table .th_Id, #chart-table .dc-table-column._0 { width: 50px; text-align: left; }
#chart-table .th_Core, #chart-table .dc-table-column._1 { width: 200px; text-align: right;}
#chart-table .th_Depth, #chart-table .dc-table-column._2 { width: 100px; text-align: right;}
#chart-table .th_Comments, #chart-table .dc-table-column._3 { width: 400px; text-align: left; padding-left: 20px;}
#chart-table .th_Reference, #chart-table .dc-table-column._4 { width: 420px; text-align: left; padding-left: 20px;}

#chart-table .dc-table-column._3, #chart-table .dc-table-column._4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chart-table td {
  cursor: pointer; 
  color: #333;
  font-size: 13px;
  padding: 0px;
  background: #eee;
  line-height: 2.2em;
  background-color: #eee;
}

#chart-table tr {
  background: #333;
  background-color: #ddd;
}

#chart-table tr th {
  background: #ddd;
}

#chart-table tr:hover td {
  font-weight: bold;
  background: #ccc;
}

#chart-table th {
  color: #333;
  font-weight: normal;
  font-style: italic;
  padding: 0px;
}

